.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000;
  min-width: 320px;
  max-width: 880px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 934px) {
  .page {
    max-width: 100%;
    margin: 0;
  }
}
