.popup__close-button {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-image: url('../../../images/popup/popup__close-button.svg');
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}
