.profile {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  margin-bottom: 51px;
}

@media screen and (max-width: 934px) {
  .profile {
    padding: 0 27px 0;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 0 19px 0;
    margin-bottom: 36px;
  }
}
