.profile__button_type_edit {
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/profile/profile__button_type_edit.svg');
  background-position: center;
}

@media screen and (max-width: 700px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
