.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  gap: 20px 17px;
  justify-items: center;

}

@media screen and (max-width: 934px) {
  .elements {
    margin: 0 19px 0;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    margin: 0 19px 0;
  }
}
